@model AppWebApi.Models.ResultadoViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="test" class="text-center" style="font-size:70px;"> 0 </h1>
    <br />
    <input class="form-control input-lg" id="Calculadora" style="max-width:none; margin-bottom:10px;" />
  
    <p class="text-center"><a href="#" onclick="calcular()" class="btn btn-primary btn-lg btn-block"> Calcular</a></p>
</div>



<script>

    function calcular()
    {
        $.ajax({
            url: "/Home/Calcular",
            type: 'get',
            dataType: 'json',
            data: { "resultado": $("#Calculadora").val() },
            success: function (data) {
                $("#test").html(data.Resultado);
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(textStatus);
                UnloadWaitNotification();
            },
            complete: function () { UnloadWaitNotification(); }
        });

    }

</script>